<!DOCTYPE html>
<html>
<head>
<!-- bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- --------- -->
<meta charset="ISO-8859-1">
<title>Error page</title>
</head>
<body>
<br><br><br>
<div align="center">
	<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
		<div class="card-header">Error page</div>
		<div class="card-body">
			<h5 class="card-title">Something went wrong!</h5>
			<a href="../page/page.html" type="button" class="btn btn-primary btn-lg">Login</a>
		</div>
	</div>
</div>

</body>
</html>